/* You can add global styles to this file, and also import other style files */
html {
    font-size: 62.5%;
}

body {
    
}
.d-flex {
    margin-top: 2rem;
    margin: 2rem;
    font-size: 1.5rem;
}
.py-3 {
    float: left;
    margin-top: 3rem;
}

h1 {
    margin: 2rem;
    margin-left:5rem;
    padding: 2rem;
    font-weight: bold;
    border: lightgray dashed 1px;
}

h2 {
    font-weight: bold;
    margin: 1rem;
}
.nav-pills .nav-link.active{
    background-color: black;
}

