
html {
    font-size: 62.5%;
    margin: 1rem;
}

body {
    background-color:cornflowerblue;
}

header {
    font-size: 1.5rem;
    color: black;
    margin: 1rem -1rem;
}

h2 {
    
}

.custom-cards {
    flex-wrap: nowrap;
}

a.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}
.d-flex {

    font-size: 1.5rem;
}
.py-3 {
    
}

h1 {
   
    padding: 1rem;
    font-weight: bold;
    border: lightgray dashed 1px;
}



.nav-pills .nav-link.active{
    background-color: black;
}

