
html {
    font-size: 62.5%;
    margin: 1rem;
}

body {
    background-color:cornflowerblue;
}

header {
    font-size: 1.5rem;
    color: black;
    margin: 1rem -1rem;
}

#kirjakuva {
    width: 100%;
    height: auto;  
}

.custom-cards {
    display: block;
    flex-wrap: nowrap;
}

.quote-box {
    padding: 2rem;
    max-height: 20%;
    
}

a.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

.d-flex {
    font-size: 1.5rem;
}

h1 {
    padding: 1rem;
    font-weight: bold;
    border: lightgray dashed 1px;
}

.nav-pills .nav-link.active{
    background-color: black;
}

/*tablet rules*/
@media screen and (min-width: 768px) {
    .nav-pills {
        margin-left: -1rem;
    }
}

/*desktop rules*/
@media screen and (min-width: 1024px) {
    .nav-pills {
        margin-left: -2rem;
    }
}